html {
	background-color: white;
}

.header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	position: fixed;
	display: flex;
	flex: row nowrap;
	margin: 0px 20px;
	padding: 10px 40px 10px 20px;
	border-bottom: 1px solid black;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header-logo {
	display: flex;
	flex: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
}

#header-name-label {
	color: MediumAquamarine;
	padding-left: 10px;
}

.header img {
	padding-left: 10px;
}


.nav {
	display: flex;
	flex: row wrap;
	justify-content: flex-end;
	margin; 10px;
}

.nav ul {
	margin-right: 100px;
	padding: 0px;
	border: none;
}

.nav li {
	list-style: none;
	display: inline-block;
	text-decoration: underline;
	margin-left: 20px;
}

.main {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	position: relative;
	top: 100px;
	z-index: 5;
	width: 90%;
	margin: 0 auto;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.column {
	display: flex;
	flex-direction: column;
	font-family: Georgia;
	font-size: 17px;
	color: black;
 }

.column p {
}

.column.large {
	display: flex;
	flex-direction: column;
    width: 630px;
}

.column.medium {
    width: 300px;
}

.column.small {
    width: 240px;
}

.col1-lower-half {
	display: flex;
	flex: row wrap;
	justify-content: space-around;
}

.story {
	display: flex;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	width: 300px;
} 
 
.img-main {
	display: flex;
	background-image: url("../images/img-story-main.png");
	height: 300px;
	font-size: 40px;
}

.img-1 {
	display: flex;
	background-image: url("../images/img-story-1.png");
	height: 300px;
}

.img-2 {
	display: flex;
	background-image: url("../images/img-story-2.png");
	height: 300px;
}

.img-3 {
	display: flex;
	background-image: url("../images/img-story-3.png");
	height: 300px;
}

.news-bite-item {
	display: flex;
	flex-direction: column;
	margin: 0;
	border-bottom: 1px solid black;
	background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
	padding: 10px 20px;
}

.footer {
	display: flex;
	justify-content: space-between;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
	z-index: 10;
	height: 200px;
	text-align: center;
}

.footer .title {
    font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
}